{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<div class="Auth">
    <div class="wrapper">
        <h3 class="sign-in">Sign In</h3>
        <form @submit.prevent="signIn()">
            <input class="user-input" type="text" name="login" id="login" placeholder="Login"/>
            <input type="password" name="password" id="password" placeholder="Password"/>
            <input type="submit" value="Sign In"/>
            <a class="sub-link" href="/sign-up">Registration</a>
        </form>
    </div>
</div>
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/signIn.js' %}"></script>
{% endblock %}